.animal-profile {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.animal-image {
    display: flex;
    justify-content: center;
    width: 100%;
}

    .animal-image img {
        width: 100%;
        border-radius: 10px;
    }

.animal-info {
    text-align: center;
    margin-top: 20px;
}

    .animal-info h1 {
        font-size: 2em;
        margin: 0;
    }

    .animal-info p {
        margin: 10px 0;
        font-size: 1em;
        color: #333;
    }

.adopt-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
}

    .adopt-button:hover {
        background-color: #0056b3;
    }