
@{
    ViewBag.Title = "_Grid";
}

<div class="grid-item">
    <img src="~/img/pisi2.png" alt="Animal">
    <div class="description">
        <p>
            Salut! Mă numesc Misty și sunt o mică exploratoare în căutare de aventuri în noua mea casă.
            Sunt plină de energie și curiozitate, și mi-ar plăcea să am un prieten ca tine
            cu care să mă joc și să împart momente speciale.
        </p>
    </div>
    <img src="~/img/yellowStar.png" alt="yellow Star" style="height: 35px; width: 35px; margin-top:30px;">
</div>

<div class="grid-item">
    <img src="~/img/pisi1.png" alt="Animal">
    <div class="description">
        <p>
            Bună! Sunt Patches și caut o nouă familie care să mă iubească și să mă răsfețe.
            Am o personalitate dulce și ador să fiu alintată.
            Dacă îți dorești un companion tandru, sunt aici să-ți umplu zilele cu purring și dragoste.
        </p>
    </div>
    <img src="~/img/grayStar.png" alt="gray Star" style="height: 35px; width: 35px; margin-top:30px;">
</div>

<div class="grid-item">
    <img src="~/img/dominoCaine.png" alt="Animal">
    <div class="description">
        <p>
            Hei! Sunt Domino și sunt expert în a câștiga inimi.
            Cu ochii mei mari și inocenți și cu blana mea moale, sunt gata să te fac să te îndrăgostești de mine.
            Vrei să fiu micul tău partener de viață?
        </p>
    </div>
    <img src="~/img/yellowStar.png" alt="yellow Star" style="height: 35px; width: 35px; margin-top:30px;">
</div>

<div class="grid-item">
    <img src="~/img/retvierCaine.png" alt="Animal">    <div class="description">
        <p>
            Salut, mă numesc Whiskers și sunt un explorator născut, curios să descopăr fiecare colț al noii mele case.
            Sunt gata să aduc bucurie și jocuri nelimitate în viața ta!
        </p>
    </div>
    <img src="~/img/grayStar.png" alt="gray Star" style="height: 35px; width: 35px; margin-top:30px;">
</div>
<div class="grid-item">
    <img src="~/img/oreoCat.png" alt="Animal">
    <div class="description">
        <p>
            Hei! Eu sunt Oreo, mica ta brioșă pătată, care adoră să fie centrul atenției.
            Sunt o minge de energie și afecțiune, gata să te fac să râzi și să te iubească zi de zi.
        </p>
    </div>
    <img src="~/img/grayStar.png" alt="gray Star" style="height: 35px; width: 35px; margin-top:30px;">
</div>


<div class="grid-item">
    <img src="~/img/griCat.png" alt="Animal">
    <div class="description">
        <p>
            Bună, mă numesc Gri și sunt un mic aventurier cu o blană catifelată care abia așteaptă să fie mângâiată.
            Dacă ești în căutarea unui prieten loial care să-ți umple zilele cu joc și companie, atunci eu sunt alegerea perfectă.
            /p>
    </div>
    <img src="~/img/yellowStar.png" alt="yellow Star" style="height: 35px; width: 35px; margin-top:30px;">
</div>

