﻿@{
    ViewBag.Title = "_LayoutContulMeu";
}

@RenderBody()

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/Style/styleIndex.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil Personal</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="header">
        @Html.Partial("header")
    </div>

    <div class="profile-container">
        <div class="profile-header">
            <img src="~/img/img.jpg" alt="Profile Picture" class="profile-picture">
            <h1 class="profile-name">Frimu Dumitru</h1>
            <h2 class="profile-username">Dima</h2>
        </div>
        <div class="profile-actions">
            <button class="action-button">Conversații <span class="count">2</span></button>
            <button class="action-button">Editare</button>
            <button class="action-button">Deconectare</button>
        </div>
        <div class="profile-info">
            <p><i class="fa fa-map-marker"></i> Nisporeni, Republica Moldova</p>
            <p><i class="fa fa-nume-"></i> Nume: Frimu</p>
            <p><i class="fa fa-prenume"></i> Prenume: Dumitru</p>
            <p><i class="fa fa-email"></i>Email: dumitrufrimu100@gmail.com</p>
            <p><i class="fa fa-phone"></i> Telefon: +123456789</p>
        </div>
    </div>
</body>
</html>