@{
    ViewBag.Title = "Home Page";
}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Adoptex</title>
    <link rel="stylesheet" href="~/Style/styleIndex.css">
</head>

<body style="background-color: azure ">
    @if (ViewBag.IsLogin != true)
    {
        <div class="header">
            @Html.Partial("header")
        </div>
    }

    @RenderBody()

    @if (ViewBag.IsLogin != true)
    {
        <div class="grid-container">
            @Html.Partial("_Grid")
        </div>
    }
</body>
</html>
