@{
    ViewBag.Title = "Animal";
}

<!doctype html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adoptex</title>
    <link rel="stylesheet" href="~/Style/styleIndex.css">
    <link rel="stylesheet" href="~/Style/styleAnimal.css">
</head>

<body style="background-color: azure ">

    <div class="header">
        @Html.Partial("header")
    </div>

    @RenderBody()

    <div class="animal-profile">
        <div class="animal-image">
            <img src="~/img/pisi2.png" alt="Animal Image">
        </div>
        <div class="animal-info">
            <h1>Animal Name</h1>
            <p><strong>Species:</strong> Cat</p>
            <p><strong>Breed:</strong> RagDoll</p>
            <p><strong>Age:</strong> 1 year</p>
            <p><strong>Gender:</strong> Femme</p>
            <p><strong>Location:</strong> New York, NY</p>
            <p>
                Salut! Ma numesc Mistyy si sunt o mica exploratoare in cautare de aventuri in noua mea casa.
                Sunt plina de energie si curiozitate, si mi-ar placea sa am un prieten ca tine
                cu care sa ma joc si sa impart momente speciale.
            </p>
            <button id="adopt-button" class="adopt-button">Adopt Me</button>
        </div>
    </div>

    <script>document.getElementById("adopt-button").addEventListener("click", function() {
    window.location.href = "/Adopt/Index"; // Înlocuiește cu URL-ul paginii de adopție dorit
        });</script>

</body>
</html>
