@{
    ViewBag.Title = "Home Page";
}

<!doctype html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adoptex</title>
    <link rel="stylesheet" href="~/Style/styleIndex.css">
</head>

<body style="background-color: whitesmoke">

    <div class="header">
        @Html.Partial("header")
    </div>

    @RenderBody()

    <div class="grid-container">
        @Html.Partial("_Grid")
    </div>

   

</body>
</html>
