
@{
    ViewBag.Title = "header";
}

<img src="~/img/upImg.png" alt="UpImg" class="center" onclick="navigateToHome();">
<hr class="custom-hr">

<script>
    function navigateToHome() {
        window.location.href = '@Url.Action("Index", "Home")'; // Presupunând că Index este acțiunea pentru pagina de start
    }
</script>


<ul>
    <li><a class="active" href="index.html">Home</a></li>
    <li><a href="adopt.html">Adopt</a></li>
    <li><a href="donate.html">Donate</a></li>
    <li><a href="adopt.html">Preferate</a></li>
    <li style="float:right"><a href="#about">About</a></li>
    <li style="float:right"><a href="/Login/Index">Login</a></li>
    <li style="float:right"><a href="/Register/Index">Register</a></li>

</ul>

