
@{
    ViewBag.Title = "header";
}

<script>
    function navigateToHome() {
        window.location.href = '@Url.Action("Index", "Home")';
    }
</script>


<ul>
    <li><a class="active" href="/Home/Index">Home</a></li>
    <li><a href="adopt.html">Adopt</a></li>
    <li><a href="donate.html">Donate</a></li>
    <li><a href="adopt.html">Preferate</a></li>
    <li style="float:right"><a href="#about">About</a></li>
    <li style="float:right"><a href="/Login/Index">Login</a></li>
    <li style="float:right"><a href="/Register/Index">Register</a></li>

</ul>

