﻿@model TWebProject.Web.Models.UserData

<table class="column" style="width: 100%;">



    @foreach (var prod in Model.Animals)
    {

        <td class="column">

            <img class="img-list" src="@prod.ImageUrl" />


        </td>


    }
    <tr>

        @using (Html.BeginForm("Animal", "Home", FormMethod.Post, new { autocomplete = "off" }))
        {

            foreach (var prod in Model.Animals)
            {

                <td class="column">
                    
                    <button class="button" name="btn" type ="submit" value="@prod">BUY</button>
                </td>

            }

        }
    </tr>
</table>